<section class="section-layout">
    <div class="container">
        <div class="section__head">
            <h1 class="section__title"> 
                Pilot
            </h1>
        </div>
        
        <div class="section__body">
            <div class="section__content">                
                <div class="section__entry">                    
                    <p>
                        Given the Current Covid 19 crisis, MantraPM would like to address the need by building a Crisis management plan with a predefined 
                        Templates where users or companies can start adopting this offering for planning a Recovery which is essential for all business.
                    </p>
                    
                    <ul class="list-values list-benefits">
                        <li>
                            <p>
                                Addressing the Covid 19 situation with a Project Management offering
                            </p>
                        </li>

                        <li>
                            <p>
                                Every Individual or Industry need to have a recovery plan to come back to normality
                            </p>
                        </li>

                        <li>
                            <p>
                                Speed to recovery path, financial benefits and organisation sustainability during and after crisis
                            </p>
                        </li>

                        <li>
                            <p>
                                Professional Services, Consulting opportunities to work with SMB on a path to recovery
                            </p>
                        </li>

                        <li>
                            <p>
                                Social response to Global Crisis
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>