<section class="section-layout">
    <div class="container">
        <div class="section__head">
            <h1 class="section__title"> 
                Value Proposition
            </h1>
        </div>
        
        <div class="section__body">
            <div class="section__content">
                <div class="section__image">
                    <img src="assets/images/value-proposition.png" alt="value-proposition">
                </div>
                
                <div class="section__entry">
                    <h3>
                        Benefits
                    </h3>
                    
                    <ul class="list-benefits">
                        <li>
                            <p>
                                It is a Cloud based platform that will save you a 
                                significant amount of money, time, and staff
                            </p>
                        </li>

                        <li>
                            <p>
                                No expensive licencing; nor heavy 
                                investments on people, hardware, and software
                            </p>
                        </li>

                        <li>
                            <p>
                                Hassle free, always secure, and available from anywhere with a 
                                connection to our portal
                            </p>
                        </li>

                        <li>
                            <p>
                                Drastically reduces Project management overhead with a 
                                speed and agility to access Project data
                            </p>
                        </li>

                        <li>
                            <p>
                                ddressing the Covid 19 situation with a Project Management offering
                            </p>
                        </li>

                        <li>
                            <p>
                                An opportunity from POC development to Commercial launch of MantraPM
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>