<section class="section-layout">
    <div class="container">
        <div class="section__head">
            <h1 class="section__title"> 
                Meet the team
            </h1>
        </div>
        
        <div class="section__body">
            <div class="section__content">                
                <div class="section__entry">
                    <p>
                        Rama Achanta <br>
                        Founder, MantraPM Ltd
                    </p>                  

                    <p>
                        An accomplished business leader with extensive Program management experience in solutioning and delivering Project management related services for client success. 
                        Persuasive leader with excellent communication and negotiation skills with a passion to deliver results and to get the Job done attitude. 
                        Rama would like to bring all the know-how and knowledge to build MantraPM platform for individuals and industries to benefit from an easy to use services model 
                        irrespective of Project management experience to drive the value for projects.  
                        Bachelor’s degree in Engineering and Masters in Microwave electronics with an MBA from Smurfit Business School, UCD, Dublin, Ireland.
                    </p>

                    <h3>
                        Technologists : UD & SP
                    </h3>

                    <div class="section__image">
                        <img src="assets/images/test-snapshot.png" alt="test-snapshot">
                    </div>

                    <ul class="list-contacts">
                        <li>
                            <p>
                                MantraPM Ltd, Dublin, Ireland
                            </p>
                        </li>
                        
                        <li>
                            <span>
                                Email:
                            </span>

                            <a href="mailto:support@mantrapm.com">
                                 support@mantrapm.com
                            </a>
                        </li>

                        <li>
                            <app-social-links class="list-socials--grey"></app-social-links>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>