<header class="header">
    <div class="container">
        <a routerLink='/' class="logo">
            <img src="assets/images/logo.png" alt="">
        </a>
    </div>
  
    <div class="header__inner">
        <div class="header__left">
            
            <!-- Remove header__tab later  -->

            <!-- <div class="header__tab">
                <div class="burger">
                    <span></span>
                    <span></span>
                </div>
            </div> -->
    
            <nav class="nav">
                <ul>
                    <li>
                        <a routerLink='/home'>
                            Home
                        </a>

                        <app-dropdown [options]="dropdownHomeLinks"></app-dropdown>
                    </li>
    
                    <li>
                        <a routerLink='/about-us'>
                            About Us
                        </a>

                        <app-dropdown [options]="dropdownAboutLinks"></app-dropdown>
                    </li>
    
                    <li>
                        <a routerLink='/posts'>
                            Our Services
                        </a>

                        <app-dropdown [options]="dropdownServiceLinks"></app-dropdown>
                    </li>

                    <li>
                        <a routerLink='/test'>
                            How it Works
                        </a>
                        
                        <app-dropdown [options]="dropdownHowItWorksLinks"></app-dropdown>
                    </li>

                    <li>
                        <a routerLink='/signup'>
                            Sign Up
                        </a>
                    </li>

                    <li>
                        <a routerLink='/signin'>
                            Sign In
                        </a>
                    </li>

                    <li>
                        <a routerLink='/contact-us'>
                            Contact Us
                        </a>

                        <app-dropdown [options]="dropdownContactLinks"></app-dropdown>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="header__right">
            <button class="btn btn-appointment">
                Make an appointment
            </button>
        </div>
    </div>
</header>