<header class="header">
    <div class="container">
        <a routerLink='/' class="logo">
            <img src="assets/images/logo.png" alt="">
        </a>
        
        <div class="header__inner">
            <nav class="nav">
                <ul>
                    <li>
                        <a routerLink='/'>
                            Home
                        </a>
                    </li>

                    <li>
                        <a routerLink='/industries'>
                            Industries
                        </a>
                    </li>

                    <li>
                        <a routerLink='/posts'>
                            Posts
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>