<section class="section-contact-us">
    <div class="section__head">
        <div class="container">
            <h1 class="section__title">
                Contact Us
            </h1>
        </div>
    </div>
    
    <div class="section__body" [style.backgroundImage]="'url(assets/images/map.png)'">
        <div class="container">
            <form class="form-contact-us">
                <div class="form__content">
                    <div class="form__entry">
                        <h3>
                            Make an appointment
                        </h3>
    
                        <p>
                            Fill out the form below to recieve a free and confidential intial consultation.
                        </p>
                    </div>

                    <div class="form__group">
                        <div class="form__row">
                            <div class="form__col">
                                <div class="form__control">
                                    <input class="form__input" placeholder="Name *" required>
                                </div>

                                <div class="form__control">
                                    <input class="form__input" placeholder="Email *" required>
                                </div>

                                <div class="form__control">
                                    <input class="form__input" placeholder="Phone *" required>
                                </div>
                            </div>

                            <div class="form__col">
                                <div class="form__control">
                                    <textarea name="message" class="form__textarea" placeholder="Message *" cols="20" rows="6" required></textarea>
                                    
                                    <div class="form__actions">
                                        <button class="btn btn-submit">
                                            <span>
                                                Submit
                                            </span>
        
                                            <svg class="arrow-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="32px" height="15px" viewBox="0 0 493.356 493.356" style="enable-background:new 0 0 493.356 493.356;" xml:space="preserve"><g><g>
                                                <path d="M490.498,239.278l-109.632-99.929c-3.046-2.474-6.376-2.95-9.993-1.427c-3.613,1.525-5.427,4.283-5.427,8.282v63.954H9.136   c-2.666,0-4.856,0.855-6.567,2.568C0.859,214.438,0,216.628,0,219.292v54.816c0,2.663,0.855,4.853,2.568,6.563   c1.715,1.712,3.905,2.567,6.567,2.567h356.313v63.953c0,3.812,1.817,6.57,5.428,8.278c3.62,1.529,6.95,0.951,9.996-1.708   l109.632-101.077c1.903-1.902,2.852-4.182,2.852-6.849C493.356,243.367,492.401,241.181,490.498,239.278z" 
                                                data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                                            </g></g> 
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form__aside">
                    <div class="form__entry">
                        <h3>
                            Contacts
                        </h3>
    
                        <p>
                            Feel free to contacts with us
                        </p>
                    </div>

                    <ul class="list-contacts">
                        <li>
                            <a tel="+353867969646">
                                <div class="ico ico-communications">
                                    <img src="assets/images/icons/ico-communications.svg" alt="">
                                </div>

                                <span>
                                    +353 867969646
                                </span>
                            </a>
                        </li>

                        <li>
                            <a mailto="rama.achanta@mantrapm.com">
                                <div class="ico ico-envelopes">
                                    <img src="assets/images/icons/ico-envelopes.svg" alt="">
                                </div>

                                <span>
                                    rama.achanta@mantrapm.com
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.google.com/maps/place/15+Swallowbrook+View,+Northside,+Clonee,+Co.+Dublin,+D15+C3X8/@53.4054781,-6.4145761,17z/data=!4m5!3m4!1s0x48676d447ac09c5f:0x294ce31e64821a3e!8m2!3d53.4055741!4d-6.41537">
                                <div class="ico ico-interface.svg">
                                    <img src="assets/images/icons/ico-interface.svg" alt="">
                                </div>

                                <span>
                                    Swallowbrook View, Clonee, Dublin 15
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</section>