<section class="section-layout">
    <div class="container">
        <div class="section__head">
            <h1 class="section__title"> 
                Architecture
            </h1>
        </div>
        
        <div class="section__body">
            <div class="section__content">
                <div class="section__image">
                    <img src="assets/images/architecture.png" alt="architecture">
                </div>
                
                <div class="section__entry">
                    <h3>
                        Data and security features with protections 
                    </h3>
                    
                    <p>
                        Normally organisations have tons of data, project plans and reports, 
                        however no real time presentation of data with templates. 
                        We will provide easy to use data representation either prefilled or can be easily modified for your project needs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>