<section class="section-architecture" [style.backgroundImage]="'url(assets/images/eugene-lim-304646.jpg)'">
    <div class="container">
        <div class="section__head">
            <h2 class="section__title">
                Architecture
            </h2>
        </div>
        
        <div class="section__body">
            <tabs class="tabs-architecture">
                <tab tabImage="assets/images/icons/shopping-bag.svg" tabTitle="Consumer Packaged Goods">
                  <div class="boxes">
                    <div class="box">
                        <div class="box__inner" [style.backgroundImage]="'url(assets/images/Untitled-4-768x638.jpg)'">                            
                            <div class="box__content">
                               <h3>
                                    Consulting Innovation
                               </h3>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box__inner" [style.backgroundImage]="'url(assets/images/Untitled-2-768x638.jpg)'">
                            
                            <div class="box__content">
                                <h3>
                                    Business Transformation
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box__inner" [style.backgroundImage]="'url(assets/images/Untitled-4-768x638.jpg)'">
                            
                            <div class="box__content">
                               <h3>
                                Manufacturing
                               </h3>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box__inner" [style.backgroundImage]="'url(assets/images/Untitled-6-768x638.jpg)'">
                            
                            <div class="box__content">
                                <h3>
                                    Consulting Analytics
                                </h3>
                            </div>
                        </div>
                    </div>

                  </div>
                </tab>

                <tab tabImage="assets/images/icons/low.svg" tabTitle="Energy & Resources">
                  And here's more in another tab.
                </tab>

                <tab tabImage="assets/images/icons/dollar.svg" tabTitle="Financial & Marketing Services">
                    Financial & Marketing Services
                </tab>

                <tab tabImage="assets/images/icons/medication.svg" tabTitle="Healthcare Systems & Services">
                    Healthcare Systems & Services
                </tab>

                <tab tabImage="assets/images/icons/monuments.svg" tabTitle="Public & Government Sector">
                    Public & Government Sector
                </tab>

                <tab tabImage="assets/images/icons/management.svg" tabTitle="Technology, Media & Telecommunications">
                    Technology, Media & Telecommunications
                </tab>
            </tabs>
        </div>
    </div>
</section>