@import '../../../../../assets/styles/variables';

/* ------------------------------------------------------------ *\
	Header Dashboard
\* ------------------------------------------------------------ */

.header-dashboard {
    & {
        margin-left: 245px;
        box-shadow: 0 2px 30px 2px rgba(0,0,0,.1);
        min-height: 71px;
        transition:  all .3s;
    }
    .header__content {
        padding: 0 15px;
    }

    &--expanded {
        margin-left: 71px;
    }
}