<section class="section-about-us">
    <div class="container">
        <div class="section__head">
            <h2 class="section__title">
                About MantraPM
            </h2>

            <p>
                We are offering free Beta access to users to test the concept and features. 
            </p>
        </div>
        
        <div class="section__body">
            <div class="service">
                <div class="service__head">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 79.2 80.9" style="enable-background:new 0 0 79.2 80.9;" xml:space="preserve" width="52px" height="100%" class="a-site-stroke-color-2">
                        <style type="text/css">
                            .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        </style>
                        <g>
                            <path class="st0" d="M1.9,60.6c0,0-2.6-11.2,1.3-14.9c3.9-3.7,10-2.5,16.4-7.9" style="stroke-dasharray: 34, 36; stroke-dashoffset: 0;"></path>
                            <path class="st0" d="M23.8,38.9c0,0-0.6,5,4.5,5s4.8-5.3,4.8-5.3" style="stroke-dasharray: 16, 18; stroke-dashoffset: 0;"></path>
                            <path class="st0" d="M54.9,60.6c0,0,2.6-11.2-1.3-14.9c-3.9-3.7-10-2.5-16.4-7.9" style="stroke-dasharray: 34, 36; stroke-dashoffset: 0;"></path>
                            <path class="st0" d="M25.6,44L23.8,75.6L28.6,79.6L33.5,75.2L31.1,44" style="stroke-dasharray: 76, 78; stroke-dashoffset: 0;"></path>
                            <path class="st0" d="M41.6,17.8c0,9.3-3.2,16.8-12.9,16.8s-12.9-7.5-12.9-16.8S19.5,1,28.6,1S41.6,8.5,41.6,17.8z" style="stroke-dasharray: 97, 99; stroke-dashoffset: 0;"></path>
                            <path class="st0" d="M54.5,36c-3.2,0.6-9.6-0.5-10.7-3.4c0,0,5.5-0.3,4.5-10S55,6.1,62.3,11.3c2.9-0.2,5.9,0.9,6.7,5.3   c0,0,0.2,6.9-0.2,10.3s2.9,5.2,3.9,5.7" style="stroke-dasharray: 75, 77; stroke-dashoffset: 0;"></path>
                            <path class="st0" d="M72.6,32.6c0,0-3,4.2-9.1,3.7" style="stroke-dasharray: 11, 13; stroke-dashoffset: 0;"></path>
                            <path class="st0" d="M63.5,36.2c0,0-0.6,5.5,10.2,9c5.4,2.6,3.5,9,3.5,9" style="stroke-dasharray: 25, 27; stroke-dashoffset: 0;"></path>
                        </g>
                    </svg>
                    
                    <h4 class="service__title">
                        Idea
                    </h4>
                </div>
                
                <div class="service__body">
                    <div class="service__entry">
                        <p>
                            We identified a gap in the <strong>project management software</strong> market for a need to have a 
                            dedicated offering in helping the business and industries with readily built project management service that can be used anywhere and anytime, hence idea to start MantraPM.
                        </p>

                        <p>
                            We will focus on researching core components of Project management to build efficient and effective standard templates areas spanning from scope, schedule, cost and quality aspect of Project management. Technology and Architectural decision to define the MantraPM platform framework along with necessary design and development decision to deliver the service.
                        </p>
                    </div>
                </div>
            </div>

            <div class="service">
                <div class="service__head">
                    <svg xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 86.5 87.3" style="enable-background:new 0 0 86.5 87.3;" xml:space="preserve" width="53px" height="100%" class="a-site-stroke-color-3">
                        <style type="text/css">
                            .st0{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
                            .st1{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        </style>
                        <g>
                            <path class="st0" d="M16,48.6A22,22 0,1,1 60,48.6A22,22 0,1,1 16,48.6" style="stroke-dasharray: 139, 141; stroke-dashoffset: 0;"></path>
                            <path class="st0" d="M31,48.6A7,7 0,1,1 45,48.6A7,7 0,1,1 31,48.6" style="stroke-dasharray: 44, 46; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M67.5,26.2c5,6.3,7.2,13.7,7.5,22.4c0,20.4-16.6,37-37,37S1,69,1,48.6s16.6-37,37-37c5.3,0,10.3,1.1,14.9,3.1" style="stroke-dasharray: 214, 216; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M77.8,8.7L38,48.6" style="stroke-dasharray: 57, 59; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M60,25.5L60,15.8L75,1L75,10.7" style="stroke-dasharray: 41, 43; stroke-dashoffset: 0;"></path>
                            <path class="st1" d="M60.4,26.1L71.3,25.9L85.4,12.6L75.7,11.1" style="stroke-dasharray: 41, 43; stroke-dashoffset: 0;"></path>
                        </g>
                    </svg>
                    
                    <h4 class="service__title">
                        Features
                    </h4>
                </div>
                
                <div class="service__body">
                    <div class="service__entry">
                        <p>
                            Ours is a <strong>Project Management as a Service (PMaaS)</strong> and initial Pilot scope is defining and delivering 
                            five basic Project templates to be provided as a service with Project Plan, Project Report, Risk Register, Financials & Resources templates.
                        </p>

                        <p>
                            We will further differentiate as born on "Cloud and Mobile First " technologies that will allow us to enter the market with more flexible and least cost approach compared to any legacy current providers.
                        </p>
                    </div>
                </div>
            </div>

            <div class="service">
                <div class="service__head">
                    <svg xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 59 87.1" style="stroke: rgb(194, 120, 127);" xml:space="preserve" width="37px" height="100%">
                        <style type="text/css">
                            .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                        </style>
                        <g>
                            <path class="st0" width="55.8" height="16.1" d="M2 69.5 L57.8 69.5 L57.8 85.6 L2 85.6 Z" style="stroke-dasharray: 144, 146; stroke-dashoffset: 0;"></path>
                            <path class="st0" d="M15.7,69.5V58.7c0,0-2.1-2.1-4.8-6.6c0-10.2,16.1-9.2,14.7-22.6" style="stroke-dasharray: 48, 50; stroke-dashoffset: 0;"></path>
                            <path class="st0" d="M25.1,29.5H11c0,0-5.7,6.8-9.9-1.2c0,0-2.5-10,24-17.1" style="stroke-dasharray: 58, 60; stroke-dashoffset: 0;"></path>
                            <path class="st0" d="M25.1,10.6V1c0,0,9.5-1.1,10.8,9.6c0,0,17.6,1.6,18.7,33.2C51.9,49.2,46,58.3,46,58.3v6.3" style="stroke-dasharray: 91, 93; stroke-dashoffset: 0;"></path>
                        </g>
                    </svg>
                    
                    <h4 class="service__title">
                        Market
                    </h4>
                </div>
                
                <div class="service__body">
                    <div class="service__entry">
                        <p>
                            Our Cloud Offering - MantraPM deployment is not meant to replace or compete within Project management software market, 
                            rather a differentiator to provide basic project management needs as predefined <strong>Templates</strong> and as a Service via our own development and deployment platform. 
                            Our target market is ranging from industries, SMEs, business owners, PMs and professionals whoever has a need of basic project management. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>