@import '../../../../assets/styles/variables';

/* ------------------------------------------------------------ *\
	Section About Us
\* ------------------------------------------------------------ */

.section-about-us {
    & {
        padding: 40px 0;
    }
    .section__head {
        text-align: center;
        margin-bottom: 20px;

        .section__title {
            color: $black;        
        }
    }
    .section__body {
        .service {
            max-width: 850px;
            margin: 0 auto;
            margin-bottom: 20px;
            
            .service__head {
                & {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                }
                .service__title {
                    margin-left: 15px;
                }
            }
        }
    }
}