<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="cols">
                <div class="col col--1of3">
                    <div class="footer__outer">
                        <a routerLink='/'>
                            <img src="assets/images/logo.png" alt="">
                        </a>
    
                        <p>
                            MantraPM is a platform for individuals and industries who will stand to benefit from an easy to use 
                            services model irrespective of Project management experience, 
                            with predefined project templates in a real time collaborative manner to drive the value for the projects.
                        </p>
                    </div>
                </div>
    
                <div class="col col--1of3">
                    <ul class="footer__nav">
                        <li>
                            <a routerLink='/'>
                                Home
                            </a>
                        </li>
    
                        <li>
                            <a routerLink='/about-us'>
                                About Us
                            </a>
                        </li>
    
                        <li>
                            <a routerLink='/services'>
                                Our Services
                            </a>
                        </li>
    
                        <li>
                            <a routerLink='/how-it-works'>
                                How it Works
                            </a>
                        </li>
    
                        <li>
                            <a routerLink='/contact-us'>
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
    
                <div class="col col--1of3">
                    <div class="footer__subscription">
                        <h4>
                            Newsletter
                        </h4>
    
                        <form class="form__subscription">
                            <div class="form__control">
                                <input type="text" placeholder="Enter your e-mail address">
        
                                <button class="btn btn-subscription">
                                    <img src="assets/images/icons/social-media.png" alt="">
                                </button>
                            </div>
                        </form>
    
                        <app-social-links></app-social-links>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer__copyright">
            <p>
                2020 MantraPM. All rights reserved
            </p>
        </div>
    </div>
</footer>