<section class="section-sign-in gap-large">
    <div class="container">
        <div class="section__body">
            <form class="form-auth">
                <div class="form__wrapper">
                    <div class="form__image">
                        <img src="assets/images/logo.png" alt="logo">
                    </div>

                    <div class="form__head">
                        <h1>
                            Let's find your team
                        </h1>
            
                        <p>
                            Enter the email which you use for login to MantraPM 
                        </p>
                    </div>
    
                    <div class="form__body">
                        <div class="form__control">
                            <input type="email" class="form__input" placeholder="name@work-email.com">
                        </div>
                        
                        <div class="form__actions">
                            <button class="btn btn-submit">
                                <span>
                                    Confirm
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>