/* ------------------------------------------------------------ *\
	Hero Slider
\* ------------------------------------------------------------ */

.hero-slider {
    .carousel {
        .slick-slide {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            min-height: 700px;
        }
    }
}