/* ------------------------------------------------------------ *\
	Settings
\* ------------------------------------------------------------ */

$font-family-sans-serif     : Arial, Helvetica, sans-serif;
$font-family-serif          : 'Playfair Display', serif;
$font-size-base             : 16px;
$line-height-base           : 1.93;

$shell--large-max-width     : 960px;
$shell-max-width    		: 1200px;
$shell-gutter               : 10px;

$responsive-xxs             : 374px;
$responsive-xs              : 767px;
$responsive-sm              : 1023px;
$responsive-md              : 1200px;


