/* ------------------------------------------------------------ *\
	Styles
\* ------------------------------------------------------------ */

@import 'reset';
@import 'base';
@import 'settings';
@import 'helpers';

/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */


.container { max-width: calc(#{$shell-max-width + $shell-gutter * 2}); padding-left: $shell-gutter; padding-right: $shell-gutter; margin: auto; }

.container--large { max-width: calc(#{$shell--large-max-width + $shell-gutter * 2}); padding-left: $shell-gutter; padding-right: $shell-gutter; margin: auto; }

.container--fluid { max-width: none; }


/* ------------------------------------------------------------ *\
	Services
\* ------------------------------------------------------------ */

.services {
	display: flex;
	align-items: center;

	.service {
		& {
			flex: 0 1 33.33%;
			max-width: 33.33%;
		}
		.service__head {
			text-align: center;
			margin-bottom: 1rem;
		}
		.service__body {
			.service__entry {
				text-align: center;
				max-width: 270px;
				margin: 0 auto;
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Boxes
\* ------------------------------------------------------------ */

.boxes {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	.box {
		& {
			flex: 0 1 50%;
			max-width: 50%;
			padding: 0 15px 15px;
		}
		.box__inner	{
			position: relative;
			height: 280px;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;

			.box__content {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				padding: 23px 30px 27px 30px;
				background-color: rgba(43, 42, 64, 0.8);
				color: $white;
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Tab
\* ------------------------------------------------------------ */

tab {
	display: none;
	
	&.active {
		display: block;

	}
}

/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */

.main {

	&--margin-top {
		margin-top: 180px;
	}
}


/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */

.btn {
	display: block;
	border: 0;
	appearance: none;
	background: transparent;
}