/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

$white                      : #fff;
$dark-blue                  : #31354c;
$blue                       : #1e74e5;
$blue-magenta				: #2b2a40;
$black						: #000;
$desaturated-blue			: #7878c2;
$dark						: #1C1921;
$light-grey					: #ddd;
$dark-grayish-blue			: #2c303b;