/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

$white                      : #fff;
$dark-blue                  : #31354c;
$blue                       : #1e74e5;